header {
  background-color: var(--grey-1-0);
  width: 100vw;
  height: 11%;
  display: flex;
  align-items: center;
  box-shadow: 0rem 0.25rem 2rem -0.75rem rgb(0 0 0 / 25%);
  justify-content: space-between;
  padding: 0.7rem 0;
}

.Header-logo {
  margin-left: 17%;
}

.Header-logo img {
  width: 7.688rem;
  height: 1.25rem;
}

.Header-inicio {
  box-sizing: border-box;
  margin-right: 17%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 2.5rem;
  background-color: var(--grey-2);
  border: 0.088rem solid #e9ecef;
  border-radius: 0.5rem;
  color: var(--grey-33);
}

.Header-inicio p {
  font-style: normal;
  font-weight: 600;
  font-size: 0.875rem;
  text-align: center;
}

.Header-inicio:hover {
  cursor: pointer;
  background-color: var(--grey-33);
  color: var(--grey-1-0);
}
