ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1.688rem;
  padding: 0.5rem 0 1.2rem 0;
}

.Card-container {
  width: 100%;
  height: 5.25rem;
  background: #f8f9fa;
  border-radius: 0.25rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0.563rem 0.875rem;
}

.Card-container p {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.375rem;
  color: #212529;
}

.Card-container button {
  width: 1.375rem;
  height: 1.375rem;
  border: none;
  border-radius: 0.154rem;
  padding: 0;
}

.Card-container button:hover {
  cursor: pointer;
}

.Card-container-descriptionAndType {
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
  justify-content: space-between;
  height: 4.25rem;
  width: 18rem;
  align-items: flex-start;
}

.Card-container-descriptionAndType h3 {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.875rem;
  color: #212529;
}

.Card-container-descriptionAndType span {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.375rem;
  color: #5b6166;
}

.Card-container.entrada {
  border-left: 0.25rem solid #03b898;
}

.Card-container.despesa {
  border-left: 0.25rem solid #e9ecef;
}

.Card-container-trash-div {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #e9ecef;
  width: 1.375rem;
  height: 1.375rem;
  border-radius: 0.154rem;
}

.Card-container-trash-div > svg {
  color: #343a40;
  width: 0.563rem;
  height: 0.625rem;
}

.Card-container-trash-div:hover {
  background-color: #343a40;
}

.Card-container-trash-div:hover > svg {
  color: #f8f9fa;
}

.Card-container-vazio-texto p {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.875rem;
  color: #5b6166;
}

.Card-container-vazio-card img {
  width: 100%;
  height: 5.25rem;
}
